:root {
    --shadow-primary: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    /*colors*/
    --light-gray: rgb(230, 230, 230);
    --color-primary: rgb(146, 39, 39);
}

* {
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100dvh;
    display: grid;
    grid-template-columns: 80px 1fr auto;
}

#menu {
    box-shadow: var(--shadow-primary);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

#menu > img {
    height: 2rem;
    cursor: pointer;
}

#menu > img:first-of-type {
    background-color: var(--color-primary);
    border-radius: 60%;
    padding: 0.5rem;
    box-sizing: content-box;
}

#my-library {
    background-color: var(--light-gray);
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    gap: 16px;
    padding: 32px;
}

.card-book {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
}

.card-book:hover {
    transform: translateY(-4px);
}

#new-book > div,
.card-book > img {
    height: 215px;
    width: inherit;
    object-fit: fill;
    border-radius: 8px;
    cursor: pointer;
}

.card-book > p {
    text-align: center;
    margin-bottom: 8px;
}

#new-book > div {
    border: 2px dotted var(--color-primary);
    align-content: center;
}

#new-book p {
    margin: 0 auto;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 60%;
    font-size: 2.5rem;
    color: var(--color-primary);
    background-color: white;
    font-weight: bold;
}

#book-info {
    width: 380px;
    box-shadow: var(--shadow-primary);
    padding: 16px;
    justify-content: space-between;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .cover {
    width: 320px;
    height: 450px;
    object-fit: cover;
}

#book-info p {
    margin: 0.2rem 0;
}

p.center {
    text-align: center;
}

p > span {
    font-weight: bold;
}

#actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

#actions button {
    padding: 8px 32px;
    border: none;
    border-radius: 16px;
    box-sizing: content-box;
}

#actions button.read {
    background-color: var(--color-primary);
    color: white;
}

#actions button.unread {
    background: none;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
} 

#actions img {
    width: 32px;
}

#actions button:hover,
#actions img:hover {
    transform: translateY(-4px);
    transition: transform 0.2s ease;
}